<html layout:decorate="~{global/layout}">
<head>
</head>
<body>
<div layout:fragment="content">
<h2 class="font-bold mb-2"><i class="fa-solid fa-user-plus"></i> 회원가입</h2>


<form th:action class="flex flex-col gap-4" method="post" onsubmit="submitJoinForm(this); return false;">

    <div class="form-control">
        <label class="label">
            <span class="label-text">아이디</span>
        </label>
        <input type="text" placeholder="아이디을 입력하세요" name="username" class="input input-bordered" />
    </div>

    <div class="form-control">
        <label class="label">
            <span class="label-text">비밀번호</span>
        </label>
        <input type="password" placeholder="비밀번호을 입력하세요" name="password" class="input input-bordered" />
    </div>

    <div class="form-control">
        <label class="label">
            <span class="label-text">비밀번호 확인</span>
        </label>
        <input type="password" placeholder="비밀번호을 다시 입력하세요" name="passwordConfirm" class="input input-bordered" />
    </div>


    <button class="btn btn-primary btn-block" type="submit">
        <i class="fa-solid fa-user-plus"></i> 회원가입
    </button>

</form>

<script>
    function submitJoinForm(form){
    form.username.value = form.username.value.trim();

        if(form.username.value.length == 0 ){
            toastWarning("아이디을 입력해주세요.");
            form.username.focus();
            return;
        }

    form.password.value = form.password.value.trim();

        if(form.password.value.length == 0 ){
            toastWarning("비밀번호을 입력해주세요.");
            form.password.focus();
            return;
        }

        form.passwordConfirm.value = form.passwordConfirm.value.trim();

        if(form.passwordConfirm.value.length == 0 ){
            toastWarning("비밀번호 확인 입력해주세요.");
            form.passwordConfirm.focus();
            return;
        }

        if(form.password.value != form.passwordConfirm.value){
        toastWarning("비밀번호가 일치하지 않습니다.");
        form.passwordConfirm.focus();

            return;
        }

        form.submit();
    }
</script>
</div>
</body>
</html>

