<html layout:decorate="~{global/layout}">
<head><title th:text="|Simple - 게시글 수정 ${article.id}_${article.title}|"></title></head>
<body>
<div layout:fragment="content">
    <h2 class="font-bold mb-2"><i class="fa-regular fa-pen-to-square"></i> 게시글 수정</h2>


    <form th:action class="flex flex-col gap-4" method="post" onsubmit="submitModifyForm(this); return false;">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-control">
            <label class="label">
                <span class="label-text">제목</span>
            </label>
            <input type="text" placeholder="제목을 입력하세요" th:value="${article.title}" name="title" class="input input-bordered" />
        </div>

        <div class="form-control">
            <label class="label">
                <span class="label-text">내용</span>
            </label>
            <textarea maxlength="10000" rows="5" placeholder="내용을 입력하세요" th:text="${article.body}" name="body" class="textarea textarea-bordered"></textarea>
        </div>


        <button class="btn btn-primary btn-block" type="submit">
            글 수정
        </button>

    </form>

    <script>
    function submitModifyForm(form){

        form.title.value = form.title.value.trim();

        if(form.title.value.length == 0 ){
            toastWarning("제목을 입력해주세요.");
            form.title.focus();
            return;
        }

        form.body.value = form.body.value.trim();

        if(form.body.value.length == 0 ){
            toastWarning("내용을 입력해주세요.");
            form.body.focus();
            return;
        }

        form.submit();
    }
</script>
</div>
</body>
</html>

